<div class="wrapper">
  <div class='header'>
    <%= icon 'far', 'envelope fa-5x', class: 'header-icon' %>
    <h2>Resend Confirmation Instructions</h2>
  </div>

  <div class='content'>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= icon 'fas', 'envelope fa-2x' %>
        <%=
          f.email_field :email, autofocus: true, autocomplete: "email",
            value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
            placeholder: 'Email Address'
        %>
      </div>

      <div class="actions">
        <%= f.submit "Resend", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
