<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @secure_note.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @secure_note.note %>
</p>

<%= link_to 'Edit', edit_secure_note_path(@secure_note) %> |
<%= link_to 'Back', secure_notes_path %>
