<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @secure_note.title %></h1>

      <div class="secure-note">
        <%= simple_format(@decrypted_note) %>
      </div>

      <form action="<%= edit_secure_note_path(@secure_note) %>"
            method="post"
            class="d-inline">
        <input name="authenticity_token"
               type="hidden"
               value="<%= form_authenticity_token %>">
        <input type="hidden"
               name="master_password"
               value="<%= @master_password %>" />
        <input type="submit"
               class="btn btn-success"
               value="<%= t('edit') %>" />
      </form>
      <%= link_to 'Delete', @secure_note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <%= link_to 'Back', secure_notes_path, class: 'btn btn-warning' %>
    </div>
  </div>
</div>
