<div class='wrapper'>
  <div class='header'>
    <%= icon 'fas', 'key fa-5x', class: 'header-icon' %>
    <h2>Reset Your Password</h2>
  </div>

  <div class='content'>
    <%= form_for(resource, as: resource_name, url: users_password_new_url,
                 html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= icon 'fas', 'envelope fa-2x' %>
        <%=
          f.email_field :email, autofocus: true, autocomplete: "email",
            placeholder: 'Email Address'
        %>
      </div>

      <div class="actions">
        <%= f.submit "Send Instructions", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
