<div class="about">
  <p>
    Passman is free and open source online password manager. Although there are
    tons of free and open source password managers out there, most of them are
    not really convient to use on multiple devices. And solutions like
    Dashlane are somehow expensive, not to mention you have no control or
    knowlege of how they are stored or who has access to them.
    You can either use
    the online version, or better yet deploy it to your own server so that
    you'll feel at ease about the privacy of your passwords. The project uses
    docker compose so that it's as easy as possible to setup and run.
  </p>
  <p>
    I hope that with the help of the online comunity, PassMan would grow to be
    the best and most secure password manager out there.
  </p>
  <p>
    <a href="https://github.com/mnvoh/passman"
       class="about-link"
       title="<%= t('checkout_source_code') %>">
      <%= icon 'fab', 'github fa-2x' %>
      <%= t('checkout_source_code') %>
    </a>
    <a href="https://donorbox.org/passman"
       class="about-link ml-2"
       title="<%= t('donate_to_passman') %>">
      <%= icon 'fab', 'paypal fa-2x' %>
      <%= t('donate_to_passman') %>
    </a>
  </p>
</div>
