<header id="main-navigation" class="navbar mb-4">
  <div class="container">
    <a class="navbar-brand" href="<%= root_url %>">
      <%= image_tag 'passman.svg', width: 48, height: 48 %>
      PassMan
    </a>

    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent20"
            aria-controls="navbarSupportedContent20"
            aria-expanded="false" aria-label="Toggle navigation">
      <div class="animated-icon1"><span></span><span></span><span></span></div>
    </button>

    <nav class="collapse navbar-collapse" id="navbarSupportedContent20">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <a class="nav-link"
               id="password-generator-link"
               href=""
               title="<%= t('password_generator') %>"
               data-toggle="modal"
               data-target="#password-generator-modal">
              <%= t('password_generator') %>
            </a>
          </li>
          <%=
            render partial: 'shared/menu_entry', locals: {
              url: passwords_path,
              text: 'Passwords'
            }
          %>
          <%=
            render partial: 'shared/menu_entry', locals: {
              url: new_password_path,
              text: 'New Password'
            }
          %>
          <li class="nav-item active">
            <%= link_to t('logout'), destroy_user_session_path,
              class: 'nav-link', method: :delete %>
          </li>
        <% else %>
          <%=
            render partial: 'shared/menu_entry', locals: {
              url: root_path,
              text: 'Home'
            }
          %>
          <%=
            render partial: 'shared/menu_entry', locals: {
              url: new_user_session_path,
              text: 'Login'
            }
          %>
          <%=
            render partial: 'shared/menu_entry', locals: {
              url: new_user_registration_path,
              text: 'Register'
            }
          %>
          <%=
            render partial: 'shared/menu_entry', locals: {
              url: terms_of_service_path,
              text: 'ToS / Privacy Policy'
            }
          %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
