<%= form_with(model: password, local: true) do |form| %>
  <% if password.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
      <% password.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="master_password"><%= t('master_password') %></label>
    <input type="password"
           id="master_password"
           name="master_password"
           placeholder="<%= t('master_password') %>"
           autofocus="autofocus"
           class="form-control" />
    <p class="text-muted"><%= t('master_password_desc') %>
  </div>
  <div class="form-group">
    <label for="master_password"><%= t('repeat_master_password') %></label>
    <input type="password"
           id="repeat_master_password"
           name="repeat_master_password"
           placeholder="<%= t('repeat_master_password') %>"
           class="form-control" />
  </div>

  <div class="form-group">
    <label for="password_title"><%= t('title') %></label>
    <%=
      form.text_field :title, autofocus: true,  placeholder: t('title'),
        class: 'form-control'
    %>
  </div>

  <div class="form-group">
    <label for="password_url"><%= t('login_url') %></label>
    <%=
      form.text_field :url, placeholder: t('login_url'), class: 'form-control'
    %>
  </div>

  <div class="form-group">
    <label for="password_password"><%= t('password') %></label>
    <%=
      form.text_field :password, placeholder: t('password'),
        class: 'form-control'
    %>
  </div>

  <div class="form-group">
    <label for="password_description"><%= t('description') %></label>
    <%=
      form.text_area :description, placeholder: t('description'),
        class: 'form-control', rows: 7
    %>
  </div>

  <input type="hidden"
         name="old_master_password"
         value="<%= @master_password %>" />

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>

    <%= link_to 'Back', passwords_path, class: 'btn btn-warning float-right' %>
  </div>
<% end %>
