<div id="password-generator-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <form class="modal-content"
          id="generate-password-form"
          method="get"
          action="<%= generate_passwords_path %>">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('password_generator') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <div class="row">
                <div class="col-sm-3">
                  <input id="lower"
                         type="checkbox"
                         name="lower"
                         value="true"
                         <%= 'checked' if @generator_lower %>/>
                  <label for="lower">a-z</label>
                </div>
                <div class="col-sm-3">
                  <input id="upper"
                         type="checkbox"
                         name="upper"
                         value="true"
                         <%= 'checked' if @generator_upper %>/>
                  <label for="upper">A-Z</label>
                </div>
                <div class="col-sm-3">
                  <input id="numbers"
                         type="checkbox"
                         name="numbers"
                         value="true"
                         <%= 'checked' if @generator_numbers %>/>
                  <label for="numbers">0-9</label>
                </div>
                <div class="col-sm-3">
                  <input id="symbols"
                         type="checkbox"
                         name="symbols"
                         value="true"
                         <%= 'checked' if @generator_symbols %>/>
                  <label for="symbols">!@#$</label>
                </div>
                <div class="col-sm-12">
                  <input class="form-control"
                         type="range"
                         name="length"
                         min="6"
                         max="32"
                         data-target="length-label"
                         value="<%= @generator_length %>">
                  <label>
                    <%= t('length') %>
                    <span class="length-label text-primary">
                      <%= @generator_length %>
                    </span>
                  </label>
                </div>
              </div>

        <div class="text-center">
          <input id="generated-password"
                 class="d-inline-block border py-4 mb-3 font-weight-bold
                 text-monospace text-primary form-control"
                 value="<%= @random_string %>"
                 readonly />
          <span class="copied-to-clipboard text-success font-weight-bold">
            <%= t('copied') %>
          </span>
          <br/>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <%= t('close') %>
        </button>
        <button type="button"
                class="btn btn-success copy-text"
                data-for="generated-password">
          <%= t('copy') %>
        </button>
        <button type="submit" class="btn btn-primary" id="generate-password">
          <%= t('generate') %>
        </button>
      </div>
    </form>
  </div>
</div>
