<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <% if alert %>
            <p id="alert" class="alert alert-danger"><%= alert %></p>
          <% end %>

          <% if notice %>
            <p id="notice" class="alert alert-success"><%= notice %></p>
          <% end %>

          <h1>
            <%= t('passwords') %>
            <%= link_to icon('fas', 'plus-circle'), new_password_path %>
          </h1>
        </div>
      </div>

      <div class="row filters">
        <div class="col-6">
          <input type="text"
                 id="passwords-title-filter"
                 placeholder="<%= t('search_by_title') %>"
                 class="form-control" />
        </div>
        <div class="col-6">
          <input type="text"
                 id="domain-filter"
                 placeholder="<%= t('search_by_domain') %>"
                 class="form-control" />
        </div>
      </div>

      <div class="row passwords my-4">
        <% @passwords.each do |p| %>
          <div class="col-sm-12 col-md-6">
            <div class="password mb-4 p-2">
              <a href="<%= show_password_path(p) %>"
                 title="<%= p.title || t('untitled') %>"
                 class="show-password-link">
              </a>
              <% 
                background = "background-image: url(#{brand_logo(p.domain)});"
              %>
              <span class="domain-logo float-left mr-2" style="<%= background %>">
              </span>
              <div class="password-details">
                <h4>
                  <%= p.title || t('untitled') %>
                </h4>
                <p class="domain mb-0 text-muted">
                  <%= p.domain %>
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
