<div class="container">
  <div class="row">
    <div class="col">
      <% if alert %>
        <p id="alert" class="alert alert-danger"><%= alert %></p>
      <% end %>

      <% if notice %>
        <p id="notice" class="alert alert-success"><%= notice %></p>
      <% end %>

      <div class="password-header mb-5">
        <span class="domain-logo float-left mr-3"
              style="background-image: url(<%= @password.domain_logo %>);">
        </span>
        <div class="float-left">
          <h2 class="p-0 m-0"><%= @password.title %></h2>
          <p class="text-muted"><%= @password.domain %></p>
        </div>
        <div class="clear"></div>
      </div>

      <div class="clearfix"></div>

      <table class="table thead-dark">
        <tbody>
          <tr>
            <th scope="row"><%= t('password') %></th>
            <td><%= @decrypted_data[0] %>
          </tr>
          <tr>
            <th scope="row"><%= t('description') %></th>
            <td><%= @decrypted_data[1] %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('created_at') %></th>
            <td><%= format_datetime(@password.created_at) %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('last_password_changed_at') %></th>
            <td><%= format_datetime(@password.password_updated_at) %></td>
          </tr>
        </tbody>
      </table>

      <form action="<%= edit_password_path(@password) %>"
            method="post"
            class="d-inline">
        <input name="authenticity_token"
               type="hidden"
               value="<%= form_authenticity_token %>">
        <input type="hidden"
               name="master_password"
               value="<%= @master_password %>" />
        <input type="submit"
               class="btn btn-success"
               value="<%= t('edit') %>" />
      </form>
      <%= link_to 'Back', passwords_path, class: 'btn btn-warning' %>
    </div>
  </div>
</div>
