<!DOCTYPE html>
<html>
  <head>
    <title>PassMan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='application'>
    <%= render partial: 'shared/menu' %>

    <div id="password-generator-modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><%= t('password_generator') %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render partial: 'passwords/password_generator_form', locals: {
              hide_header: true,
              lower: true,
              upper: true,
              numbers: true,
              symbols: true,
              length: 12
            }%>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
