<!DOCTYPE html>
<html>
  <head>
    <title>PassMan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='application'>
    <%= render partial: 'shared/header' %>
    <% if @generator_available %>
      <%= render partial: 'passwords/password_generator_form' %>
    <% end %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
